---
layout: 'base.njk'
---

<article>
    <h1>{{ title }}</h1>
    <figure>
        <img src="{{ image }}" width="150" height="150" alt="{{ imageAlt }}">
        {# <figcaption>
            {{ imageAlt }}
        </figcaption> #}
    </figure>

    {{ content | safe }}
    
</article>