<header class="header">
    <nav>
        <ul class="nav-ul flex-row gap-1rem">
            <li>
                <a href="{{ '/index.html' | url }}">Home</a>
            </li>
            <li>
                <a href="{{ '/about-page/' | url }}">About</a>
            </li>
            <li>
                <a href="{{ '/projects-page/' | url }}">Projects</a>
            </li>
            <li>
                <a href="{{ '/blog-page/' | url }}">Blog</a>
            </li>
            <li>
                <a href="{{ '/contact-page/' | url }}">Contact</a>
            </li>
        </ul>
    </nav>
</header>