<header class="header">
    <nav>
        <ul class="nav-ul flex-row gap-1rem">
            <li>
                <a href="{{ '/index.html' | url }}">Home</a>
            </li>
            <li>
                <a href="{{ '/about-page/' | url }}">About</a>
            </li>
            <li>
                <a href="{{ '/projects-page/' | url }}">Projects</a>
            </li>
            <li>
                <a href="{{ '/blog-page/' | url }}">Blog</a>
            </li>
            <li>
                <a href="{{ '/contact-page/' | url }}">Contact</a>
            </li>
        </ul>
    </nav>
     <div class="toggle-switch-wrapper">
            <span class="toggle-switch__label">Dark theme</span>
            <label class="toggle-switch" for="theme-toggle">
                <input 
                    class="toggle-switch__input" 
                    id="theme-toggle"
                    title="Toggles light and dark"
                    role="switch" 
                    type="checkbox"
                    aria-checked="false"
                    aria-live="polite"
                >
                <span class="toggle-switch__slider"></span>
            </label>
        </div>
</header>