<header class="">
    <nav>
        <ul class="">
            <li>
                <a href="{{ '/index.html' | url }}">Home</a>
            </li>
            <li>
                <a href="{{ '/about/' | url }}">About Me</a>
            </li>
            <li>
                <a href="{{ '/projects/' | url }}">My Projects</a>
            </li>
            <li>
                <a href="{{ '/blog/' | url }}">My Blog</a>
            </li>
            <li>
                <a href="{{ '/contact/' | url }}">Contact Me</a>
            </li>
        </ul>
    </nav>
</header>