:root {
  --clr-light: #f5f5f5;
  --clr-dark: #212121;
  --clr-grey-0: #e5e5e5;
  --clr-grey-1: #d2d2d2;
  --clr-grey-2: #737373;
  --clr-grey-3: #505050;
  --clr-grey-4: #363636;
  --clr-grey-5: #262626;
  --clr-grey-6: #171717;
  --clr-grey-8: #262626;
  --clr-focus: #ff471a;
  --clr-accent: #7f6599;
  --clr-accent-light: lightblue;
  --clr-accent-light-2: #a5f3fc;
  --clr-accent-dark: rebeccapurple;
  --clr-accent-dark-2: #0e7490;
  --clr-gradient-minus-90deg: linear-gradient(-90deg, #7f6599, transparent);
  --clr-gradient-90deg: linear-gradient(90deg, #7f6599, transparent);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--clr-light);
    --text: var(--clr-dark);
    --menu-bg: var(--clr-light);
    --menu-clr: var(--clr-dark);
    --heading-1: var(--clr-grey-3);
    --heading-2: var(--clr-grey-2);
    --heading-3: var(--clr-grey-3);
    --card-clr: var(--clr-dark);
    --card-bg: var(--clr-light);
    --selection-clr: var(--clr-light);
    --selection-bg: var(--clr-dark);
    --ul-clr: var(--clr-accent-dark-2);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--clr-dark);
    --text: var(--clr-light);
    --menu-bg: var(--clr-dark);
    --menu-clr: var(--clr-light);
    --heading-1: var(--clr-grey-1);
    --heading-2: var(--clr-grey-2);
    --heading-3: var(--clr-grey-2);
    --card-clr: var(--clr-grey-0);
    --card-bg: var(--clr-grey-8);
    --selection-clr: var(--clr-dark);
    --selection-bg: var(--clr-light);
    --ul-clr: var(--clr-accent-light-2);
  }
}
/* https://web.dev/prefers-reduced-motion/#remove-motion-on-the-web */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

/* For responsive images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* For responsive text. -will change to using clamp soon. */
body {
  font-family: "Roboto", "sans-serif";
  background: var(--background);
  color: var(--text);
}

main {
  min-height: calc(100vh - 170px);
}

h1,
h2,
h3,
h4 {
  padding: 0 1rem;
}

h1 {
  color: var(--heading-1);
}

h2 {
  color: var(--heading-2);
}

h3 {
  color: var(--heading-3);
}

/* For comfortable readability */
p {
  max-width: 65ch;
  line-height: 1.5;
  margin: 0.5rem 0;
  padding: 0 0.7rem;
}

*::selection {
  color: var(--selection-clr);
  background: var(--selection-bg);
}

/* Skip link */
a,
.skip-link {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: 3px underline;
  text-underline-offset: 5px;
  color: var(--clr-accent);
}

a:focus-visible {
  outline: 3px dashed var(--clr-focus);
  outline-offset: 7px;
}

:is(p) a {
  text-decoration: underline;
  color: var(--ul-clr);
}

.site__title {
  position: relative;
}

.site__title::before,
.site__title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  z-index: -1;
  top: 40%;
  border-radius: 2px;
}

.site__title::before {
  transform: translateX(-89px);
  background: var(--clr-gradient-minus-90deg);
}

.site__title::after {
  transform: translateX(10px);
  background: var(--clr-gradient-90deg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gap-1rem {
  gap: 1rem;
}

.snippet {
  border-radius: 7px;
  padding: 1rem 0.7rem;
  width: 350px;
  height: 480px;
  background: #2b2b2b;
}

.container {
  max-width: 65ch;
  margin: 0 auto;
  padding: 2rem 0;
}

body.light-theme {
  background: var(--clr-light);
  color: var(--clr-grey-3);
}

body.dark-theme {
  background: var(--clr-dark);
  color: var(--clr-light);
}

.site__title.light-theme {
  color: var(--clr-grey-3);
}

.site__title.dark-theme {
  color: var(--clr-grey-1);
}

p.light-theme {
  color: var(--clr-grey-4);
}

.hero__ul.light-theme {
  color: red;
}

.hero__ul.dark-theme {
  color: blue;
}

.nav.light-theme {
  background: var(--clr-light);
}

.nav.dark-theme {
  background: var(--clr-dark);
}

.project.light-theme {
  background: var(--clr-light);
  color: var(--clr-dark);
  box-shadow: 2px 1px 7px -3px var(--clr-grey-8);
}

@media (prefers-color-scheme: light) {
  .project {
    box-shadow: 2px 1px 7px -3px var(--clr-grey-8);
  }
}
.project.dark-theme {
  background: var(--clr-grey-8);
  color: var(--clr-grey-0);
}

@media (prefers-color-scheme: light) {
  .post {
    box-shadow: 2px 1px 7px -3px var(--clr-grey-8);
  }
}
.post.light-theme {
  background: var(--clr-light);
  color: var(--clr-dark);
  box-shadow: 2px 1px 7px -3px var(--clr-grey-8);
}

.post.dark-theme {
  background: var(--clr-grey-8);
  color: var(--clr-grey-0);
}

*::selection.light-theme {
  color: var(--clr-light);
  background: var(--clr-dark);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes wave {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(10px) rotate(7deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
.header {
  box-shadow: 0px 0px 2px -1px;
  justify-content: space-between;
}
.header__logo {
  margin: 0 0 0 1rem;
}
.header__menu-wrapper {
  gap: 1rem;
}

.nav {
  background: var(--menu-bg);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(100%);
}

.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  height: 100%;
  gap: 1rem;
  list-style: none;
}

/* Button */
.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  right: 1rem;
  z-index: 1000;
  width: 30px;
}

/* Hamburger */
.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

/* Nav open */
.nav-open .nav {
  transform: translateX(0);
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.controls-wrapper {
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
  .nav {
    transform: translateX(0);
    height: fit-content;
    background: transparent;
    position: static;
  }
  .nav-ul {
    flex-direction: row;
    font-size: 1rem;
  }
  .nav-toggle {
    display: none;
  }
}
.toggle-switch-wrapper {
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 18px;
}

.toggle-switch__label {
  font-size: 0.7rem;
}

.toggle-switch__input {
  opacity: 0;
  width: 0;
  height: 0;
  transform: translateY(-3px);
}

.toggle-switch__slider {
  position: absolute;
  border-radius: 1.25em;
  background: var(--clr-grey-3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.toggle-switch__slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background: var(--clr-light);
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input[type=checkbox]:checked + .toggle-switch__slider {
  background: var(--clr-accent);
}

input[type=checkbox]:checked + .toggle-switch__slider::before {
  transform: translate(22px);
}

input[type=checkbox]:focus-visible + .toggle-switch__slider {
  outline: dashed 3px #ff471a;
  outline-offset: 5px;
}

.footer {
  box-shadow: 0px 0px 2px -1px;
  padding: 2rem 0;
  text-align: center;
}
.footer ul.flex-row {
  list-style: none;
}
@media (max-width: 768px) {
  .footer div,
  .footer ul {
    flex-direction: column;
  }
}

.about-text__image {
  width: 150px;
  float: left;
  shape-outside: circle(37.35% at center center);
  shape-margin: 1rem;
  margin: 0 2rem 0.5rem 0;
  border-radius: 50%;
}

.projects {
  padding-left: 0;
  gap: 1rem;
  flex-wrap: wrap;
}
.projects li {
  list-style: none;
}

.project {
  max-width: 65ch;
  background: var(--card-bg);
  color: var(--card-clr);
}
.project__title {
  text-decoration: none;
}
.project .links-wrapper {
  padding: 0.5rem;
}

.posts {
  padding: 0 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.post {
  background: var(--card-bg);
  color: var(--card-clr);
  padding: 1rem 0.7rem;
}
.post__title {
  text-align: left;
  font-size: 2rem;
  padding: 0 0.7rem;
  color: var(--clr-accent);
}
.post__date {
  font-size: 1.15rem;
}
.post__description {
  font-size: 1.25rem;
}

.hero__img-wrapper {
  padding: 1rem 0;
  animation: 1500ms 3 forwards wave;
}

.hero__wavy-hand {
  font-size: 45px;
  opacity: 0;
  animation: fade-in 300ms ease-in 1000ms forwards;
}

.hero__img {
  width: 125px;
}

.hero__title {
  font-size: 2.75rem;
  font-weight: 400;
  margin: 2rem 0 0 0;
  color: var(--clr-accent);
  opacity: 0;
  animation: fade-in 500ms ease-in 1500ms forwards;
}

.hero__subtitle {
  font-size: 1.75rem;
  font-weight: 400;
  opacity: 0;
  animation: fade-in 300ms ease-in 2000ms forwards;
}

.hero__sub-title-3 {
  opacity: 0;
  animation: fade-in 300ms ease-in 2200ms forwards;
}

.hero__text {
  text-align: center;
  margin: 1rem 0 0 0;
  opacity: 0;
  animation: fade-in 300ms ease-in 2500ms forwards;
}

.hero__ul {
  color: var(--ul-clr);
  opacity: 0;
  animation: fade-in 300ms ease-in 2700ms forwards;
}
