body.light-theme {
  background: var(--clr-light);
  color: var(--clr-grey-3);
}

body.dark-theme {
  background: var(--clr-dark);
  color: var(--clr-light);
}

.site__title.light-theme {
  color: var(--clr-grey-3);
}

.site__title.dark-theme {
  color: var(--clr-grey-1);
}

p.light-theme {
  color: var(--clr-grey-4);
}

.hero__ul.light-theme {
  color: red;
}

.hero__ul.dark-theme {
  color: blue;
}

.nav.light-theme {
  background: var(--clr-light);
}

.nav.dark-theme {
  background: var(--clr-dark);
}

.project.light-theme {
  background: var(--clr-light);
  color: var(--clr-dark);
  box-shadow: 2px 1px 7px -3px var(--clr-grey-8);
}

@media (prefers-color-scheme: light) {
  .project {
    box-shadow: 2px 1px 7px -3px var(--clr-grey-8);
  }
}

.project.dark-theme {
  background: var(--clr-grey-8);
  color: var(--clr-grey-0);
}

@media (prefers-color-scheme: light) {
  .post {
    box-shadow: 2px 1px 7px -3px var(--clr-grey-8);
  }
}

.post.light-theme {
  background: var(--clr-light);
  color: var(--clr-dark);
  box-shadow: 2px 1px 7px -3px var(--clr-grey-8);
}

.post.dark-theme {
  background: var(--clr-grey-8);
  color: var(--clr-grey-0);
}

*::selection.light-theme {
  color: var(--clr-light);
  background: var(--clr-dark);
}
