:root {
  // color-scheme: dark light;
  --clr-light: #f5f5f5;
  --clr-dark: #212121;
  --clr-grey-0: #e5e5e5;
  --clr-grey-1: #d2d2d2;
  --clr-grey-2: #737373;
  --clr-grey-3: #505050;
  --clr-grey-4: #363636;
  --clr-grey-5: #262626;
  --clr-grey-6: #171717;
  --clr-grey-8: #262626;
  --clr-focus: #ff471a;
  --clr-accent: #7f6599;
  --clr-accent-light: lightblue;
  --clr-accent-light-2: #a5f3fc;
  --clr-accent-dark: rebeccapurple;
  --clr-accent-dark-2: #0e7490;

  --clr-gradient-minus-90deg: linear-gradient(-90deg, #7f6599, transparent);
  --clr-gradient-90deg: linear-gradient(90deg, #7f6599, transparent);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--clr-light);
    --text: var(--clr-dark);
    --menu-bg: var(--clr-light);
    --menu-clr: var(--clr-dark);
    --heading-1: var(--clr-grey-3);
    --heading-2: var(--clr-grey-2);
    --heading-3: var(--clr-grey-3);
    --card-clr: var(--clr-dark);
    --card-bg: var(--clr-light);
    --selection-clr: var(--clr-light);
    --selection-bg: var(--clr-dark);
    --ul-clr: var(--clr-accent-dark-2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--clr-dark);
    --text: var(--clr-light);
    --menu-bg: var(--clr-dark);
    --menu-clr: var(--clr-light);
    --heading-1: var(--clr-grey-1);
    --heading-2: var(--clr-grey-2);
    --heading-3: var(--clr-grey-2);
    --card-clr: var(--clr-grey-0);
    --card-bg: var(--clr-grey-8);
    --selection-clr: var(--clr-dark);
    --selection-bg: var(--clr-light);
    --ul-clr: var(--clr-accent-light-2);
  }
}
