.header {
  border-bottom: 1px solid;
  //   margin-bottom: 2rem;
  padding: 0 2rem;
  justify-content: space-between;
  // position: relative;

  &__logo {
    box-shadow: -7px -7px 0px 2px;
  }

  .nav-ul {
    padding: 32px 0;
  }
}
