.post {
  background: var(--card-bg);
  color: var(--card-clr);
  padding: 1rem 0.7rem;

  &__title {
    text-align: left;
    font-size: 2rem;
    padding: 0 0.7rem;
    color: var(--clr-accent);
  }

  &__date {
    font-size: 1.15rem;
  }

  &__description {
    font-size: 1.25rem;
  }
}
