---
title: 'About Me'
layout: 'base.njk'
---

<h1 class="site__title">{{ title }}</h1>
<h2>My Programming Journey</h2>

<p>
    <img class="about-text__image" width="150" height="150" src="/assets/images/new-selfie-sm.png" alt="Marcus Hugo" />
    My first introduction to programming was in highschool. I wanted to try something different other than art. I Didn't quite get the hang of it then. Though, later in my college years, I remember discovering the browser inspector tool and wondered what all that code was! I spent some time learning a little bit of HTML then.</p>

<p>Many years later, I built my own PC, later studied for the CompTIA A+ exam, then learned to use the command line, which led me back to web development, which reminded me of typing out html tags. Once I discovered CSS, it clicked for me! It was the connection of writing HTML <em>and CSS</em>, then seeing <em>visually </em> the output that had me hooked!</p>

<p>I've spent the last two years working through online courses, tutorials, building projects, and experimenting with my own ideas. Some of my favorite instructors are Angela Yu, Brad Schiff and Brad Traversy.</p>

<div class="container">
    <h2>A more exhaustive list of technoligies I have worked with:</h2>
<h3>Front-end</h3>
<ul>
<li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>jQuery</li>
    <li>Bootstrap</li>
    <li>Sass</li>
    <li>Tailwind CSS</li>
    <li>React</li>
    <li>Astro</li>
    <li>Next.js</li>
    <li>Eleventy</li>
    <li>Wordpress</li>
</ul>
<h3>Backend</h3>
<ul>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>PHP</li>
</ul>
</div>

