---
title: "Welcome to My Blog Page!"
layout: "base.njk"
---

<h1>{{ title }}</h1>
<h2>Hope you enjoy reading and find something useful!</h2>

<ul class="posts">
    {% for post in collections.post | reverse %}
        {% include 'article-snippet.njk' %}
    {% endfor %}
</ul>
