---
title: "Blog"
layout: "base.njk"
---

<h1 class="site__title">{{ title }}</h1>
<h2>Recent Posts</h2>

<ul class="posts flex-col">
    {% for post in collections.post %}
        {% include 'article-snippet.njk' %}
    {% endfor %}
</ul>
