---
title: "Contact Me"
layout: "base.njk"
---

<h1 class="site__title">{{ title }}</h1>
<section id="contact">
    <div class="wrapper">
        <p>Let me know if you are interested in working together on a project!</p>
    </div>
    <!-- Social links -->
        <ul class="flex-row gap-1rem">
          <li>
            <a href="https://twitter.com/MarcusPHugo" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter"></i> Twitter</a>
          </li>
          <li>
            <a class="social-icons__link" href="https://www.linkedin.com/in/marcus-hugo-27823b32" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i> LinkedIn</a>
          </li>
          <li>
            <a class="social-icons__link" href="https://github.com/marcus-hugo" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i> Github</a>
          </li>
          <li>
            <a class="social-icons__link" href="mailto:phantomboss300@yahoo.com"><i class="bi bi-envelope-fill"></i> Email</a>
          </li>
        </ul>
</section>