---
title: "Contact Me"
layout: "base.njk"
---

<h1 class="site__title">{{ title }}</h1>
<section id="contact">
    <div class="wrapper">
        
        <p>Let me know if you are interested in working together on a project!</p>
    </div>
    <!-- Social links -->
    <div class="flex-row gap-1rem">
        <a class="social-icons__link" href="https://www.linkedin.com/in/marcus-hugo-27823b32" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin fa-2x">LinkedIn</i>
            <span class="sr-only">go to my linkedin profile</span>
        </a>

        <a class="social-icons__link" href="https://github.com/marcus-hugo" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github fa-2x">Github</i>
            <span class="sr-only">go to my github profile</span>
        </a>

        <a class="social-icons__link" href="mailto:phantomboss300@yahoo.com">
            <i class="fas fa-envelope-square fa-2x">Email</i>
            <span class="sr-only">email me with email client</span>
        </a>
    </div>
</section>