---
title: "Hi, I'm Marcus"
layout: 'base.njk'
---


<img width="150" height="150" class="hero__img" src="/assets/images/marcus-selfie-sm.webp" alt="Marcus"></img>
<h1 class="hero__title">{{ title }}</h1>
<h2 class="hero__subtitle">Frontend Developer.</h2>
<p class="hero__text">I enjoy working from a design and bringing it to life on the web!</p>

<section class="skills-section flex-col">
    <h2 class="site__title">My Skills</h2>
    
    <ul class="skills-section-ul flex-row gap-1rem">
        <li class="skills-section-ul__li">
            <p>HTML</p>
        </li>
        <li class="skills-section-ul__li">
            <p>CSS</p>
        </li>
        <li class="skills-section-ul__li">
            <p>JavaScript</p>
        </li>
        <li class="skills-section-ul__li">
            <p>Sass</p>
        </li>
        <li class="skills-section-ul__li">
            <p>React</p>
        </li>
        <li class="skills-section-ul__li">
            <p>Git</p>
        </li>
    </ul>
</section>