---
title: "Hi, I'm Marcus Hugo!"
layout: 'base.njk'
---

<div class="hero__img-wrapper">
   <span class="hero_wavy-hand">&#128075;</span>
</div>
<h1 class="hero__title">{{ title }}</h1>
<h2 class="hero__subtitle">Frontend Developer & Learner.</h2>
<p class="hero__text">
    I'm a passionate self-taught frontend developer with over 2 years of experience crafting visually appealing user-friendly web experiences.
</p>
