---
title: "Hi, I'm Marcus Hugo!"
layout: 'base.njk'
---

<div class="hero__img-wrapper">
   <span class="hero__wavy-hand">&#128075;</span>
</div>

<h1 class="hero__title">{{ title }}</h1>
<h2 class="hero__subtitle">Frontend Developer.</h2>

<div class="container">
<p class="hero__text">
    Thanks for visiting my site!🙏 I hope you enjoy browsing around my <a href="{{ '/blog-page/' | url }}"> blog posts</a>, <a href="{{ '/projects-page' | url }}"> projects</a>, and code on <a class="social-icons__link" href="https://github.com/marcus-hugo" target="_blank" rel="noopener noreferrer">Github</a>.😀
</p>
<h2 class="hero__sub-title-3">A little about me...</h2>
<p class="hero__text"> I'm a passionate self-taught frontend developer with over 2 years of experience crafting user-friendly and visually appealing web experiences.</p>

<h2 class="hero__sub-title-3">I'm currently learning a trove of technologies:</h2>
<ul class="hero__ul">
    <li>React</li>
    <li>Next.js</li>
    <li>Astro</li>
    <li>Tailwind CSS</li>
    <li>Eleventy</li>
</ul>
</div>
