---
title: "My Projects"
layout: "base.njk"
---

<h2>Here's what I've been working on lately!</h2>

<ul class="projects flex-col gap-1rem">
{% for project in collections.project %}
   {% include 'project-snippet.njk' %}
{% endfor %}
</ul>